@import 'system-font.scss';

$theme: custom;
$custom-font-body: system-ui, "Segoe UI", Tahoma, sans-serif !default;
$custom-font-headings: system-ui, "Segoe UI", Tahoma, sans-serif !default;
$line-height: 1.1;
$line-height-desktop: 1.25;
@import 'src/style/gutenberg.scss';

hr {
  @include margin-bottom(1.25);
  @include margin-top(1.25); 
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
